/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[3]!./app/global.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ==============  Navbar Styling  =============  */
.navContainer {
  background-color: black;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
}
.leftContainer {
  width: 10%;
}
.midContainer {
  width: 35%;
  text-transform: uppercase;
  text-shadow: 0cqb;
}
.rightContainer {
  width: 20%;
  text-transform: uppercase;
  text-shadow: 0cqb;
}
.navLinkList {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  align-items: center;
}
.link {
  text-decoration: none;
  color: white;
}

/* ============== Home Page Styling =============== */
.homeContainer {
  height: 800px;
  background: rgb(114, 84, 67);
  background: radial-gradient(
    circle,
    rgba(114, 84, 67, 1) 13%,
    rgba(17, 33, 50, 1) 83%
  );
}

